
<form action = "/results" method="GET">
	<input type = "text" placeholder = "search movie" name="search">
	<br>
	<input type="radio" id="Game" name="genre" value="game"><label for="Game">Game</label>
	<input type="radio" id="Series" name="genre" value="series"><label for="Series">Series</label>
	<input type="radio" id="Movie" name="genre" value="movie"><label for="Movie">Movie</label><br>
	<input type = "submit" value="submit">

</form>
<br>	
<br>
<br>
<br>
<br>
<br>
<br>
<form action = "/addfriend" method="POST">
	<input type = "text" placeholder = "movie" name="title">
	<input type = "Number" placeholder = "release year" name="year">
	<br>
	<input type="radio" id="Game" name="genre" value="game"><label for="Game">Game</label>
	<input type="radio" id="Series" name="genre" value="series"><label for="Series">Series</label>
	<input type="radio" id="Movie" name="genre" value="movie"><label for="Movie">Movie</label> 
	<br>
	<input type = "submit" value="submit">
</form>

npm install express express-graphql graphql --save